table {
    margin-left: auto !important;
    margin-right: auto !important;
    width: fit-content !important;
}

.table > thead > tr > th, .table > tbody > tr > td {
     vertical-align: middle;
     text-align: center;
}
